<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="apple-touch-icon" type="image/png" href="{% static 'apple-touch-icon.png' %}" sizes="180x180">
    <link rel="icon" type="image/png" href="{% static 'android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'android-chrome-512x512.png' %}" sizes="512x512">
    {% block head %}{% endblock %}
</head>
    {% block body %}{% endblock %}
</html>