{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'numeral_recognition/css/numeral_recognition.css' %}" rel="stylesheet" type="text/css">
    <title>Title</title>
{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <div class="container text-center mt-5 p-5">
        <h1>手書き数字画像認識</h1>
        <div class="container text-center">
            <div class="m-3">
                <span>手書きの数字画像を認識し結果を表示する</span><br>
                <span>2層ニューラルネットワークでモデルを作成</span><br>
                <span>使用できるファイルは jpeg, png のみ</span>
            </div>
        </div>
        <div class="border-line mt-3 mb-3"></div>
        <div class="row">

            <div class="col-lg mb-5">
                <h3 class="text-center">画像ファイルを認識させる</h3>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8 text-left">
                        <h4>結果: <span id="imageResult"></span></h4>
                        <span class="text-danger" id="imageErrorMsg"></span>
                        <form method="post" action="/numeralRecognition/" enctype="multipart/form-data" id="form">
                            {% csrf_token %}
                            <small>認識させる画像ファイルを選択してください</small><br>
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary" id="submitBtn">認識</button>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>

            <div class="col-lg mb-5">
                <h3 class="text-center">手書き文字を認識させる</h3>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8 text-left">
                        <h4>結果: <span id="canvasResult"></span></h4>
                        <span class="text-danger" id="canvasErrorMsg"></span>
                        <canvas id="nr_canvas" width="300px" height="300px" style="border: solid"></canvas>
                        <button class="btn btn-primary" id="canvasClear">Clear</button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'numeral_recognition/js/numeral_recognition.js' %}"></script>
{% endblock %}
